body {
  margin: 0px;
  padding: 0;
}

td {
  padding: 20px 50px;
}

a {
  color: rgb(0, 0, 0);
  font-weight: 800;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  text-decoration: none;
  width: 100%;
}

.header {
  background-color: gainsboro;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.footer {
  background-color: gainsboro;
  margin-top: 100px;
}

.register {
  color: rgb(238, 54, 146);
  font-size: 70px;
}

.edit {
  color: rgb(155, 155, 155);
  font-size: 40px;
  padding: 0 10px;
}

.update-categ {
  height: 50vh;
  padding: 50px;
}

.update-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.btn-back {
  background-color: gainsboro;
  font-size: large;
  font-weight: 800;
}

.btn-save {
  background-color: rgb(238, 54, 146);
  color: aliceblue;
  font-size: large;
  font-weight: 800;
}

.update-content-title {
}

.update-content-input {
  font-size: large;
  padding: 20px;
}

.update-content-btn {
  padding: 0 20px;
}

.content-article-details {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
}

.titles-article-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}